/* DatePickerCalendar 컨테이너 */
.date-picker-calendar {
  display: flex; /* Flexbox 레이아웃 사용 */
  justify-content: space-between; /* 공간 분배 */
  align-items: stretch; /* 높이 맞춤 */
  gap: 20px; /* 간격 */
  margin: 20px 0; /* 위아래 여백 */
}

/* DatePicker 박스, Calendar 섹션 */
.date-picker-box,
.calendar-section {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  flex:1;
  width: 48%; /* 너비 조정: 기본 48%, 작은 화면에서 100% */
  background-color: #fff;
}

/* 날짜 네비게이션 */
.date-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.date-navigation button {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
}

.date-navigation span {
  font-size: 1.2em;
  flex-grow: 1; /* 텍스트 영역 확장 */
  text-align: center;
}

/* 음식 입력 */
.food-input {
  display: flex; /* Flexbox 레이아웃 */
  align-items: center; /* 수직 가운데 정렬 */
  gap: 10px; /* 간격 */
  margin-bottom: 20px;
}

.food-input input,
.food-input button { /* input과 button 스타일 통합 */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.food-input input {
  flex-grow: 1; /* 입력 필드 확장 */
}

.food-input button {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* 식사 시간 버튼 */
.meal-time-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: flex-start;
}

.meal-time-buttons button {
  background-color: white;
  border: 1px solid #ddd; /* 테두리 추가 */
  padding: 5px 20px; /* 패딩 조정 */
  border-radius: 5px;
  cursor: pointer;
}

.meal-time-buttons button.active {
  background-color: black; /* 활성화된 버튼 배경색 */
  color: white;
}

/* MUI Autocomplete 팝업 */
.MuiAutocomplete-popper {
  z-index: 11;
  width: 100%;
}

/* 음식 목록 테이블 */
.food-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.food-list th,
.food-list td {
  border: 1px solid #ddd;
  padding: 8px;
}

.food-list td:nth-child(2), /* 양 셀 */
.food-list td:nth-child(3) { /* 칼로리 셀 */
  text-align: right;
}
.calendar-section{
  align-items: center; /* li 내부 콘텐츠 수직 가운데 정렬 */
}
/* 반응형 미디어 쿼리 */
@media (max-width: 768px) {
  .date-picker-calendar {
    flex-wrap: wrap; /* 줄 바꿈 허용 */
  }

  .date-picker-box,
  .calendar-section {
    width: 100%; /* 작은 화면에서 전체 너비 */
    margin-bottom: 20px; /* 아래 여백 추가 */
  }
  .food-input input, 
  .food-input button{
      width: 100%;
  }
}
